html {
    margin: 0;
    height: 100%;
    --accentback: #0A1128; /*#100412;*/
    --mainback: #0A1120;
    --maintext: #f2f2f2;
    --accenttext: #fb3070;
    --link: #57acdc;
    --titlefont: 'Roboto slab';
    --mainfont: 'Source sans pro';
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--mainback);
    color: var(--maintext);
    text-align: justify;
}

#header {
    font-family: var(--titlefont), serif;
    border-bottom: 2px solid white;
}

#header h1 {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
}

#header h2 {
    text-align: left;
    font-size: 1.3em;
    margin-top: 5px;
}

#navbar {
    text-align: center;
    background-color: var(--mainback);
    width: 100%;
    /* height: 60px; */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--accenttext);
}

#navbar button {
    background-color: var(--accentback);
    color: var(--accenttext);
    border: 2px solid var(--accenttext);
    border-radius: 10px;
    /* height: 100%; */
    padding: 10px 10px;
    margin: 0 10px 10px 10px;
    font-family: var(--titlefont), serif;
    font-size: 1.1em;
}

#navbar button:hover {
    background-color: var(--accenttext);
    border-color: var(--maintext);
    color: var(--accentback);
}

#navbar button.current-page {
    background-color: var(--accentback);
    color: var(--maintext);
    border-color: var(--maintext);
}

#dropdown button {
    display: none;
    width: 100%;
    border-width: 0;
    border-radius: 0;
    background: var(--accenttext);
    color: var(--accentback);
    margin: 0;
}

#dropdown button:hover {
    color: var(--accenttext);
    background-color: var(--accentback);
}

#dropdown.dropdown-reveal button {
    display: block;
}

div.menu-bar {
    width: 35px;
    height: 5px;
    background-color: var(--accenttext);
    margin: 6px 0;
    display: block;
}

#menu-icon {
    float: right;
}

#dropdown {
    display: block;
}

.name {
    font-size: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--accenttext);
}

.center-div {
    text-align: center;
}

a:not(.internal) {
    color: var(--link);
}

/* a:visited {
    color: var(--accenttext);
} */

a:hover:not(.internal) {
    color: var(--accenttext);
}

h1 {
    color: var(--accenttext);
    text-align: center;
}

.qual-section {
    padding: 20px 0;
}

.qual-section h1:first-child {
    font-family: var(--titlefont), serif;
    color: var(--maintext);
}

.qual {
    text-align: center;
    padding-bottom: 40px;
}

.qual ol {
    margin-bottom: 0px;
    list-style-type: none;
}

.qual h1:first-child {
    color: var(--accenttext);
    font-family: var(--mainfont), sans-serif;
}

.work-item {
    padding-bottom: 40px;
}

.work-item h1 {
    text-align: left;
}

.work-item h2 {
    color: var(--accenttext);
}

.section {
    padding: 20px 0;
}

#img-h {
    border-radius: 50%;
    margin: 20px 20px;
}

#intro {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
}

#about-me {
    text-align: center;
    font-size: 1.5em;
}

#header {
    padding: 20px 0;
}

.skill {
    color: var(--accenttext);
    font-size: 1.1em;
}

.skill:after {
    content: "–";
    color: var(--mainback);
}

ul li {
    padding: 3px 0;
}

.role {
    margin-bottom: 0;
    font-family: var(--titlefont), serif;
    color: var(--maintext);
}

.employer {
    margin: 0;
}

.dates {
    margin: 0;
    font-weight: bold;
}

.institution {
    font-size: 0.9em;
}

.institution:before {
    content: "—";
}
