<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fencing</title>
    </head>
    <body>
        <script src="navbar.js"></script>

    </body>
</html>
