<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>H Gulliver, PhD</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="/js/navbar.js"></script>
        <div id="header">
            <h1>Dr <span class="name">H Gulliver</span> PhD</h1>
            <h2>Data scientist, mathematician, fencing Master</h2>
        </div>

        <div id="intro">
            Hi, I'm H
        </div>
        <div class="center-div">
            <img id="img-h" src="assets\headshot.jpg" />
        </div>

        <div id="about-me">
            <span class="name">Harry Gulliver</span>
            <br />
            <span class="qualification">PhD in Pure Mathematics</span><span class="institution">University of Manchester</span>
            <br />
            <span class="qualification">MSc in Pure Mathematics (Distinction)</span><span class="institution">Imperial College London</span>
            <br />
            <span class="qualification">BSc (Hons) in Mathematics (1st class)</span><span class="institution">Imperial College London</span>
        </div>


    </body>
</html>
