<%- include('partials/head')%>
        <div id="header">
            <h1>Dr <span class="name">H Gulliver</span> PhD</h1>
            <h2>Data scientist, mathematician, fencing Master</h2>
        </div>

        <div id="intro">
            Hi, I'm H
        </div>
        <div class="center-div">
            <img id="img-h" src="assets\headshot.jpg" />
        </div>

        <div id="about-me">
            <span class="name">Harry Gulliver</span>
            <br />
            <span class="qualification">PhD in Pure Mathematics</span><span class="institution">University of Manchester</span>
            <br />
            <span class="qualification">MSc in Pure Mathematics (Distinction)</span><span class="institution">Imperial College London</span>
            <br />
            <span class="qualification">BSc (Hons) in Mathematics (1st class)</span><span class="institution">Imperial College London</span>
        </div>

<%- include('partials/foot') %>
