<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mathematics</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="/css/navbar.js"></script>

        <div class="section" id="maths-intro">
            <p>
                I used to be a maths tutor, and taught a range of topics, from GCSE through to MSc level. Though I am no longer tutoring, the worksheets and resources I produced (and some other maths notes I made during my undergrad) are <a target="_blank" href="https://github.com/HarryG92/LaTeX-Notes">available here</a>. They are free to use for anyone.
            </p>

            <p>
                The remainder of this page describes my PhD research. There is a less technical section for <a href="#nonmath">non-mathematicians</a>, and a more technical section for <a href="#math">mathematicians</a>. My thesis and <a href="#pubs">publications</a> are also linked.
            </p>
        </div>

        <div class="section">
            <h1><a class="internal" id="nonmath">For Non-Mathematicians</a></h1>
            <p>
                My mathematical research was in an area called representation theory, which studies transformations like reflections and rotations as a way of understanding (representing) more complicated mathematical objects.
            </p>
            <p>
                For example, if you want to understand all the different ways of shuffling a pack of cards (which a mathematician would call the symmetric group on 52 symbols), you can represent different ways of shuffling as a geometric transformation. For instance, the simple shuffle that just takes the top card and moves it to the bottom of the pack can be thought of as a rotation by 360/52 degrees - if you do it 52 times, you've come full circle and the pack is back how it started.
            </p>
            <p>
                By relating complicated operations like shuffling a deck of cards to sequences of simple operations like rotations and reflections, we can try to understand complicated processes with simple geometry and algebra.
            </p>
            <p>
                For my research, the structures I was trying to understand through representation theory were things like the Heisenberg Algebra, which describes how the position and momentum of a subatomic particle interact with each other.
            </p>
            <br />
            <p>
                As well as representation theory, my research drew upon algebraic geometry, which is about relating equations to shapes. There is a well-developed theory of algebraic geometry in "commutative algebra", which is algebra where it doesn't matter what order you do operations in. For example, if you multiply two numbers, it doesn't matter which order you multiply them in. As long as the equations you're using are built from operations where the order doesn't matter, there's a well-established relationship to geometry.
            </p>
            <p>
                However, there are many "non-commutative" situations in life: just try reversing the order you put your socks and shoes on and see if it changes the results! In quantum physics, if you measure the position of a subatomic particle, then measure its momentum, you actually get different results than if you measure its momentum first&ndash;so the Heisenberg algebra, which is the algebra describing these measurements, is <em>non-commutative</em>.
            </p>
            <p>
                So my research brought together these two areas: representation theory, which uses simple transformations to represent complex structures, and algebraic geometry, which doesn't work well in non-commutative algebras like I was working in. I used a special type of representation of the Heisenberg Algebra and similar structures to build a geometric structure. This gives two ways to study the Heisenberg algebra, both through the individual representations, and through the geometry they combine to produce.
            </p>
            <br />
            <p>
                The original idea for this geometry-through-representation-theory to extend algebraic geometry to noncommutative algebras was originally developed decades ago by the mathematicians Eben Matlis and Pierre Gabriel. Some related work had been done since, by mathematicians like Martin Ziegler, Ryo Kanda, Jonathan Golan, Tommy Kucera, and Mike Prest (my PhD supervisor). I built on their work to show that certain different approaches that had been tried were actually different routes to the same solution, and to develop the theory needed to actually figure out what the geometry looks like in specific examples.
            </p>
        </div>

        <div class="section">
            <h1><a class="internal" id="math">For Mathematicians</a></h1>

            <p>
                My research as a PhD scholar was in the area of noncommutative algebra, specifically modules over right noetherian rings. I also used ideas from abelian category theory, model theory, and algebraic geometry. I developed the theory of a geometric structure (a ringed space) associated to noncommutative rings, and in particular computed this ringed space (or at least a lot about it) for specific examples such as the first Weyl algebra and the first Heisenberg algebra.
            </p>

            <p>
                Classical algebraic geometry develops a ringed space associated to a commutative ring, the Zariski spectrum. The points of this space are prime ideals of the ring, the topology is given in terms of containing other ideals, and the sheaf of rings on the space comes from localisation of the original ring at the prime ideals.
            </p>

            <p>
                For a noncommutative ring, while the definition of the Zariski spectrum technically makes sense, it is often poorly behaved. For the first Weyl algebra, for instance (the algebra of differential operators on the affine line), the Zariski spectrum is a single point, even though the Weyl algebra is a reasonably complex ring&ndash;it certainly isn't artinian, which you'd expect from a ring with a one-point spectrum.
            </p>

            <p>
                Eben Matlis proved in his PhD thesis that for a commutative notherian ring, there is a bijection between prime ideals and indecomposable injective modules. An injective module is a module (representation) of the ring in which every consistent system of equations has a solution; equivalently, one which is a direct summand of every larger module.
            </p>

            <p>
                Pierre Gabriel then defined a topology on the set of (isomorphism classes of) indecomposable injective modules, in terms of homomorphisms within the module category. He proved that when indecomposable injectives are related to prime ideals by Matlis' bijection, then his topology corresponds to the Zariski topology. Gabriel also developed the theory of localisation at a torsion theory, and used this to define a sheaf of rings over the topological space of indecomposable injectives.
            </p>

            <p>
                So for a commutative noetherian ring, Gabriel, via Matlis, gives us an alternative (and unnecessarily complicated!) way of constructing the usual Zariski spectrum, via indecomposable injective modules. However, for noncommutative (or non-noetherian) rings, Matlis' bijection fails and this spectrum of indecomposable injectives can be very different from the Zariski spectrum.
            </p>

            <p>
                My research developed these ideas by studying the injective spectrum of right noetherian rings in more detail. I obtained a complete description of the injective spectrum for right artinian rings, strong results about the spectra of 1-dimensional rings (including a fairly complete description of the spectrum of the first Weyl algebra), and calculated the points and topological structure of the spectrum of the first Heisenberg algebra (a 2-dimensional ring). I also demonstrated some non-results, by constructing an example which refuted a conjecture I had previously made about the relationship of the injective spectrum to the (Krull-Gabriel) dimension of the ring.
            </p>

            <p>
                To do this, I also made use of ideas from the model theory of modules. This studies the logical relationships between systems of R-linear equations and modules. Using <em>pure</em>-injective modules (a generalisation of injective modules) and pairs of systems of equations (so-called pp-pairs), Martin Ziegler constructed a topological space which encodes structural information about the module category. It was already known that Gabriel's injective spectrum related to the Ziegler spectrum (it is a subset of the Ziegler spectrum, with a dual topology). I used ideas from model theory to develop my results.
            </p>

            <p>
                There is yet another topological space associated to noncommutative rings: the torsion spectrum. This was developed by Jonathan Golan, and uses torsion theories in the module category to define a topological space, which naturally has a sheaf of localisations of the module category associated to it (which is functionally not that different to a sheaf of rings!). I exploited known connections between torsion theories and injective modules to prove that Golan's torsion spectrum and Gabriel's injective spectrum are isomorphic, and I used this isomorphism to develop further theory of the spectrum.
            </p>
        </div>

        <div class="section">
            <h1><a class="internal" id="pubs">Publications</a></h1>

            Thesis: <a target="_blank" href="https://www.research.manchester.ac.uk/portal/en/theses/the-injective-spectrum-of-a-right-noetherian-ring(17cdfdd1-f6a5-40d8-accb-d13f95df77cf).html">The Injective Spectrum of a Right Noetherian Ring</a>

                <ol>
                    <li>
                        <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0021869320303732">The Injective Spectrum of a Right Noetherian Ring</a>, <em>Journal of Algebra,</em> 564 (2020), 1-31
                    </li>
                    <li>
                        <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S0022404920300013">Injective Spectra and Torsion Theories</a>, <em>Journal of Pure and Applied Algebra</em>, 224(7) (2020)
                    </li>
                </ol>
        </div>

    </body>
</html>
