<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qualifications & Certifications</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="/css/navbar.js"></script>

        <div class="qual-section">
            <h1>University Education</h1>
            <div class="qual">
                <h1>PhD in Mathematics</h1>
                <h2>University of Manchester, 2019</h2>
                Thesis: <a target="_blank" href="https://www.research.manchester.ac.uk/portal/en/theses/the-injective-spectrum-of-a-right-noetherian-ring(17cdfdd1-f6a5-40d8-accb-d13f95df77cf).html">The Injective Spectrum of a Right Noetherian Ring</a>

                <p>
                    Arising from my PhD, I published two papers in respected, peer-reviewed journals:
                    <ol>
                        <li>
                            <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0021869320303732">The Injective Spectrum of a Right Noetherian Ring</a>, <em>Journal of Algebra,</em> 564 (2020), 1-31
                        </li>
                        <li>
                            <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S0022404920300013">Injective Spectra and Torsion Theories</a>, <em>Journal of Pure and Applied Algebra</em>, 224(7) (2020)
                        </li>
                    </ol>
                </p>
            </div>

            <div class="qual">
                <h1>MSc in Pure Mathematics</h1>
                <h2>Distinction</h2>
                <h2>Imperial College London, 2015</h2>
                <p>
                    Dissertation: <a target="_blank" href="https://github.com/HarryG92/Theses/blob/master/RepresentationsOfQuivers.pdf">Representations of Quivers</a>
                </p>
            </div>

            <div class="qual">
                <h1>BSc in Mathematics</h1>
                <h2>First Class (Hons)</h2>
                <h2>Imperial College London, 2014</h2>
            </div>
        </div>

        <div class="qual-section">
            <h1>Additional Qualifications</h1>
            <div class="qual">
                <h1>Professional Certificate in Data Science</h1>
                <h2>IBM, via EdX, 2020</h2>
            </div>

            <div class="qual">
                <h1>Python for Data Science and Machine Learning</h1>
                <h2>Udemy, 2020</h2>
            </div>

            <div class="qual">
                <h1>Fencing Coaching Diploma</h1>
                <h2>British Academy of Fencing</h2>
                <p>
                    Epee: 2016, Foil: 2017, Sabre: 2017.
                </p>
            </div>

            <div class="qual">
                <h1>Languages Spoken:</h1>
                <p>
                    English: native speaker. French: fluent. German: conversational.
                </p>
            </div>
        </div>


    </body>
</html>
