<%- include('partials/head')%>
        <div class="section">
            <p>
                I am experienced in the following languages and systems:
            </p>
            <ul>
                <li>
                    <span class="skill">Python</span> Highly experienced. My current role is primarily around developing production object-oriented code for a cloud-based SaaS company,
                    making scheduling decisions for semiconductor manufacturing. I design, implement, and test features in our data integration, simulation, core optimisation,
                    and output building code.
                    I also review changes made by my colleagues, and refactor our code for greater readability, modularity, and changeability.
                    I am experienced with various libraries, including numpy, scipy, pandas, statsmodels, matplotlib, seaborn, scikit-learn, jupyter notebooks, pyomo.
                    I generally write typed Python, using mypy as a type-checker.
                </li>
                <li>
                    <span class="skill">SQL</span> Experienced, mostly in PostgreSQL.
                    Routinely write ad hoc queries in my current role to interrogate our data, and occasionally to update or modify the data.
                </li>
                <li>
                    <span class="skill">HTML, CSS, JavaScript</span> Some experience. Coded this website myself
                </li>
                <li>
                    <span class="skill">Kubernetes (using Lens)</span> Some experience. In my current role, we have a dedicated dev-ops team, but I do frequently tackle
                    simpler issues myself.
                </li>
                <li>
                    <span class="skill">LaTeX</span> Experienced; wrote my thesis and published papers in LaTeX
                </li>
                <li>
                    <span class="skill">Command-line interfaces</span> Some experience. I do various bits of bash scripting as needed in my current role.
                </li>
                <li>
                    <span class="skill">Git</span> Experienced. In my current role, I work on a monorepo with around 20 other developers, using a trunk-based Git workflow.
                </li>
                <li>
                    <span class="skill">PowerBI and Tableau</span> Competent, but rusty. I used these a fair bit in my last job, and taught them to apprentices.
                </li>
                <li>
                    <span class="skill">Excel</span> Experienced
                </li>
                <li>
                    <span class="skill">Java</span> Some familiarity
                </li>
            </ul>
        </div>

        <div class="section">
            I also have experience in the following:
            <ul>
                <li>
                    <span class="skill">Mathematical optimisation</span> My current role is focused around using MILP (Mixed-Integer Linear Programming) to produce schedules for semiconductor
                    manufacturing. This is essentially a classical <a href="https://en.wikipedia.org/wiki/Job-shop_scheduling">job-shop problem</a>, but with several advanced features, such as
                    secondary resources required for some operations, changeovers (machines have different setups and there is a cost to changing setup), and "timelinks" (when one process
                    begins an irreversible chemical process on the wafer, meaning a later process step must be started within a certain amount of time).
                </li>
                <li>
                    <span class="skill">Data Analysis</span> Proficient in classical and bayesian inference, hypothesis testing, regression analysis, and exploratory data visualisation
                </li>
                <li>
                    <span class="skill">Machine Learning</span> Experienced with a range of classical machine learning models, and statistical inference techniques.
                    Early in my current employment, my role had more of a data science focus and I developed and implemented a predictive model for maintenance durations using a
                    Gamma distribution fit using maximum-likelihood estimation, which would account for time already elapsed in predicting remaining maintenance duration. I then
                    implemented this model in production code, and it continues to be used unchanged.
                </li>
                <li>
                    <span class="skill">Technical writing</span> Wrote my PhD theses and MSc dissertation in advanced mathematics, also wrote two paper published in peer-reviewed journals.
                    Produced a step-by-step guide to time series forecasting for apprentices in my current job, and built a level 6 Applied Statistics course
                </li>
                <li>
                    <span class="skill">Presentation Skills</span> Regularly presented at research seminars during my PhD, and presented my research at a major international conference,
                    in Prague, 2018. In my current role, deliver specialised training sessions to classes of 10-20 data professionals of varying backgrounds and skill levels.
                    I have also delivered internal training to upskill colleagues.
                </li>
            </ul>
        </div>

<%- include('partials/foot') %>
