<%- include('partials/head')%>
        <div class="section">
            <p>
                I am experienced in the following languages and systems:
            </p>
            <ul>
                <li>
                    <span class="skill">Python</span> Highly experienced, both with scripting and Jupyter notebooks. Experienced with the numpy, scipy, pandas, statsmodels, matplotlib, seaborn, scikit-learn, and tensorflow libraries.
                </li>
                <li>
                    <span class="skill">HTML, CSS, JavaScript</span> Experienced. Coded this website myself
                </li>
                <li>
                    <span class="skill">SQL</span> Experienced, especially PostgreSQL
                </li>
                <li>
                    <span class="skill">R</span> Competent
                </li>
                <li>
                    <span class="skill">LaTeX</span> Highly experienced; wrote my thesis and published papers in LaTeX
                </li>
                <li>
                    <span class="skill">Java</span> Competent
                </li>
                <li>
                    <span class="skill">Command-line interfaces</span> Experienced. Mostly Powershell and some Bash
                </li>
                <li>
                    <span class="skill">Git and <a target="_blank" href="https://github.com/HarryG92/">GitHub</a></span> Experienced
                </li>
                <li>
                    <span class="skill">PowerBI</span> Competent
                </li>
                <li>
                    <span class="skill">Tableau</span> Competent
                </li>
                <li>
                    <span class="skill">Excel</span> Experienced
                </li>
                <li>
                    <span class="skill">Haskell</span> Some familiarity
                </li>
            </ul>
        </div>

        <div class="section">
            I also have experience in the following:
            <ul>
                <li>
                    <span class="skill">Data Analysis</span> Proficient in classical and bayesian inference, hypothesis testing, regression analysis, and exploratory data visualisation
                </li>
                <li>
                    <span class="skill">Machine Learning</span> Experienced with a range of classical machine learning models, including:
                    <ul>
                        <li>
                            Regression models: linear regression, regularised regression, regression trees
                        </li>
                        <li>
                            Classification models: logistic regression, K-nearest neighbours, decision trees, support vector classifiers, naive Bayes
                        </li>
                        <li>
                            Ensemble methods: bagging and boosting; random forests
                        </li>
                        <li>
                            Unsupervised learning: K-means clustering, Latent Dirichlet Allocation
                        </li>
                        <li>
                            Time series forecasting: SARIMAX, dynamic harmonic regression
                        </li>
                        <li>
                            Natural language processing: count and tf-idf vectorisation; text cleaning, sentiment analysis, topic allocation
                        </li>
                        <li>
                            Deep learning: reinforcement learning, artificial neural networks
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="skill">Technical writing</span> Wrote my PhD theses and MSc dissertation in advanced mathematics, also wrote two paper published in peer-reviewed journals. Produced a step-by-step guide to time series forecasting for apprentices in my current job, and built a level 6 Applied Statistics course
                </li>
                <li>
                    <span class="skill">Presentation Skills</span> Regularly presented at research seminars during my PhD, and presented my research at a major international conference, in Prague, 2018. In my current role, deliver specialised training sessions to classes of 10-20 data professionals of varying backgrounds and skill levels. I have also delivered internal training to upskill colleagues.
                </li>
            </ul>
        </div>

<%- include('partials/foot') %>
